.font-tamma{
    font-family:$font-tamma ;
}

.font-noto{
    font-family:$font-noto ;
}

.font-size-12{
    font-size: 12px;
}

.font-size-16{
    font-size: 16px;
}

.font-size-20{
    font-size: 20px;
}


.font-size-14{
    font-size: 14px;
}

